html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    /*background-color: aliceblue;*/
    background-color: black;
    /*background-image: linear-gradient(0deg, #052530 0%, #032731 50%, #044c59 100%);*/
}

#navColor {
    background-color: aliceblue;
    margin-bottom: 0px;
    /*background-color: #F7CE68;
    background-image: linear-gradient(0deg, #F7CE68 0%, #FBAB7E 50%, #f7ce68 100%);*/
}

.navbar {
    min-height: 80px;
}

.wrapper {
    min-height: 100vh;
    margin-bottom: -42px;
    margin-top: 94px;
}

.footer, .push {
    height: 100px;
}

.no-gutters {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#revealRobots {
    cursor: pointer;
}

#rowCreateRobot {
    margin-top: 40px;
}

#unitButton, #unitSizeButton {
    margin-top: 25px;
}

#imageTitleEdit, #imageDescEdit {
    color: white;
}

#editTitle, #editTitleForm {
    color: black;
}

button, input#editTitle {
    color: black;
}

.lightText {
    color: white;
}

.myImage {
    width: 100%;
}

#showImages {
    margin-bottom: 5px;
}

.noImage {
    margin-top: -5px;
    cursor: pointer;
}

.robotTitles {
    color: white;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
}

.theImages {
    height: 100px;
    margin-top: -20px;
    margin-right: 10px;
    margin-bottom: 0px;
    border: 0;
    border-radius: 50%;
    outline-color: rgb(47, 63, 80);
    outline-style: groove;
    box-shadow: 5px 10px 18px #1a4863;
    cursor: pointer;
}

.bigRobotImage {
    width: 90%;
}

#additionalImages {
    margin-top: 30px;
}

#largeAddtlImages {
    margin-top: 30px;
}

button#signAdvice {
    margin-bottom: 10px;
}

div.makeBox {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    word-wrap: break-word;
}

button#topicButton, button#signupButton, 
button#logoutButton, button#homeButton, button#usersButton {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

#subRow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.padded-multiline {
    line-height: 1.4; 
    padding: 2px 0;
  }

.padded-multiline span { 
    background-color: #f3f2f3;
    color: black; 
    display: inline;
    padding: 3px;
    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

#carouselBackground {
    margin-top: 0px;
}

input#feedRobot {
    margin-top: 5px;
}

button#createRobot, button#submitRobotMetrics, button#submitEditedRobotMetrics{
    margin-top: 10px;
}

button.RobotButtons {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

span#editThisRobot {
    cursor: pointer;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

.editRobotImageTitle, .editRobotImageDesc {
    cursor: pointer;
}

#submitEditedImageTitle {
    margin-bottom: 10px;
}

p.directions {
    margin-top: -5px;
}

.keepInline {
    display: inline-block;
}

#submitNewRobotMetrics {
    margin-top: 20px;
}

.metricInfo {
    margin-top: 8px;
    cursor: pointer;
    width: 130px;
    display: inline-block;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
}

#feedTimer {
    background-color: crimson;
    color: white;
}

/*p#keepInline {
    margin-left: 30px;
    margin-right: 5px;
}*/

a.answerA{
    display: block;
    margin: 0px 5px 10px 30px;
   /* margin-left: 30px;
    margin-right: 5px;
    margin-bottom: 10px; */
}

#chartContainerSize, #chartContainerWeight {
    margin-top: 20px;
}

button#loadTopics {
    margin-top: 20px;
}

.littleX, .littleXAnswer, .littleXTopic {
    color: red;
    margin-bottom: 5px;
    margin-top: -5px;
}

.littleE, .littleEAnswer, .littleETopic {
    margin-left: 40px;
    color: red;
    margin-bottom: 5px;
    margin-top: -5px;
}

@media only screen and (orientation: portrait) {
    button#topicButton, button#signupButton, button#logoutButton,
    button#homeButton, button#usersButton {
        font-size: 14px;
    }

    h3 {
        font-size: 18px;
        margin-top: 10px;
    }
    
}