html {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    /*background-color: aliceblue;*/
    /*background-color: black;*/
    /*background-image: linear-gradient(0deg, #052530 0%, #032731 50%, #044c59 100%);*/
    background-image: url("/assets/pictures/cryptoflash-crypto.gif");
    background-size: 40%;
    background-position: center center;
}

.descText {
        font-family: "Handlee", cursive;
        font-weight: 400;
        font-style: normal;
}

#navColor {
    background-color: rgb(140, 145, 146);
    margin-bottom: 0px;
    /*background-color: #F7CE68;
    background-image: linear-gradient(0deg, #F7CE68 0%, #FBAB7E 50%, #f7ce68 100%);*/
}

#navbarText {
    color: #4b413b;
    font-size: 24px;
}

#marksBioPoint {
    cursor: pointer;
}

#marksBioPoint, #marksAddress, #marksSupport {
    color: #4b413b;
    font-size: 22px;
    padding: 10px;
    margin-left: 30px;
}

.navbar {
    min-height: 80px;
}

button.navbar-toggle {
    margin-top: 23px;
}

.wrapper {
    min-height: 100vh;
    top: 80px;
    position: relative;
}

.footer, .push {
    height: 80px;
}

.no-gutters {
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

#robotWaiting {
    width: 50%;
    margin-top: 175px;
}

#revealRobots {
    margin-top: 250px;
    color: #4b413b;
    width: 30%;
    cursor: pointer;
}

#rowCreateRobot {
    margin-top: 40px;
    position: relative;
}

#unitButton, #unitSizeButton {
    margin-top: 25px;
}

#editTitle, #editTitleForm {
    color: black;
}

button, input#editTitle {
    color: black;
}

.lightText {
    color: white;
    display: inline-block;  
    /*background-color: rgb(201, 231, 237);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;*/
}

.descText {
    background-color: rgb(140, 145, 146);
    display: inline-block;
    /*background-color: rgb(201, 231, 237);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 3px;
    padding-bottom: 3px;*/
    width: 80%;
    border-radius: 50px;
    padding: 15px;
}

#showImages {
    margin-bottom: 5px;
}

.noImage {
    margin-top: -5px;
    cursor: pointer;
}

.robotTitles {
    color: white;
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 10px;
    margin-top: 25px;
}

.theImages {
    height: 150px;
    margin-right: 10px;
    margin-bottom: 0px;
    border: 0;
    border-radius: 50%;
    outline-color: rgb(47, 63, 80);
    outline-style: groove;
    box-shadow: 5px 10px 18px red;
    /*box-shadow: 5px 10px 18px #1a4863;*/
    cursor: pointer;
}

#addtlImg {
    margin-right: 36px;
    margin-bottom: 36px;
}

.bigRobotImage {
    width: 90%;
}

#additionalImages {
    margin-top: 30px;
}

#largeAddtlImages {
    margin-top: 30px;
}

.addtlBigRobotImage {
    width: 90%
}

#deleteImage {
    margin-top: -65px;
}

#logoutButton {
    display: inline-block;
    font-size: 10px;
}

button#signAdvice {
    margin-bottom: 10px;
}

div.makeBox {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
    border: 2px solid black;
    word-wrap: break-word;
}

button#topicButton, button#signupButton, 
button#homeButton, button#usersButton {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

#subRow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.padded-multiline {
    line-height: 1.4; 
    padding: 2px 0;
  }

.padded-multiline span { 
    background-color: #f3f2f3;
    color: black; 
    display: inline;
    padding: 3px;
    /* Needs prefixing */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

#carouselBackground {
    margin-top: 0px;
}

input#feedRobot {
    margin-top: 5px;
}

button.RobotButtons {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*button#showAdditionalImages {
    background-color: rgb(140, 145, 146);
    font-size: 22px;
}*/

span#editThisRobot {
    cursor: pointer;
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
}

.editRobotImageTitle, .editRobotImageDesc {
    cursor: pointer;
}

#markCopy {
    margin-top: 10px;
    margin-bottom: 0px;
}

#webDev {
    margin-top: 0px;
    margin-bottom: 10px
}

#submitEditedImageTitle {
    margin-bottom: 10px;
}

p.directions {
    margin-top: -5px;
}

.keepInline {
    display: inline-block;
}

#submitNewRobotMetrics {
    margin-top: 20px;
}

@media only screen and (orientation: landscape) {
    body {
        background-size: 25%;
    }

    .bigRobotImage, .addtlBigRobotImage {
        width: 40%;
    }

    .descText {
        width: 35%;
    }

    #revealRobots {
        width: 12%;
    }

    #robotWaiting {
        width: 30%;
    }
}